.inputTextContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputTextInputArea {
    width: 100%;
    border-radius: 30px;
    border: #DEB887 solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: NanumBarunpen, sans-serif;
    font-size: 2vh;
}

.inputTextInputArea:hover {
    border-color: #A0522D;
}

.inputTextInputArea:focus {
    outline-color: #A0522D;
}