.primaryButtonArea {
    width: 90%;
    margin: 5px;
}

.primaryButton {
    position: relative;
    padding: 2.5vh;
    width: 100%;
    font-family: NanumBarunpen;
    font-size: 2.5vh;
    font-weight: 900;
    background: #E5AA70;
    color: #fff;
    border-radius: 30px;
    border-width: 0;
    box-shadow: 0 4px 0 #C19A6B;
    line-height: 20px;
}

.primaryButton:before {
    display: block;
    content: " ";
    left: 4px;
    top: 4px;
    bottom: 4px;
    right: 4px;
    position: absolute;
    margin: auto;
    border-radius: 22px;
    border: 2px dashed #F2D2BD;
}

.primaryButton:hover {
    background: #DAA06D;
}