.loginBodyArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginBoxArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 30px;
    background: whitesmoke;
    margin-bottom: 15px;
    padding: 20px;
}

.joinLinkText {
    margin-top: 25px;
}

.joinLinkText > a {
    font-weight: bold;
    color: #A0522D;
    text-decoration: none;
}