@font-face {
    font-family: 'UhBeemysen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.titleText {
    font-family: 'UhBeemysen';
    font-size: 7vh;
}

.descriptionText {
    font-size: 2vh;
}

.primaryButton {
    position: relative;
    width: 90%;
    padding: 2.5vh;
    font-family: NanumBarunpen;
    font-size: 2.5vh;
    font-weight: 900;
    background: #ff7981;
    color: #fff;
    border-radius: 30px;
    border-width: 0;
    box-shadow: 0 4px 0 #cd4b53;
    line-height: 20px;
}

.primaryButton:before {
    display: block;
    content: " ";
    left: 4px;
    top: 4px;
    bottom: 4px;
    right: 4px;
    position: absolute;
    margin: auto;
    border-radius: 22px;
    border: 2px dashed #ffb5b9;
}

.primaryButton:hover {
    background: #ed6f78;
}