@media screen and (min-width: 600px) {
  .bankListDescLeft {
    font-size: 2.5vh;
  }

  .bankListDescriptionArea {
    width: 520px;
  }
}

@media screen and (max-width: 599px) {
  .bankListDescLeft {
    font-size: 2vh;
  }
}

.bankListBodyArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.bankListDescriptionArea {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: #deb887 dashed 2px;
  border-radius: 30px;
}

.bankListDescLeft {
  display: flex;
  flex: 6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bankListDescRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myInfoButton:hover {
  background: #daa06d;
}

.createBankButton {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  width: 70px;
  height: 70px;
  background: #deb887;
  border-style: none;
  border-radius: 40px;
  font-size: 5vh;
  color: white;
}

.myInfoPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px) grayscale(1);
}

.myInfoPopupInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  padding: 10px;
  width: auto;
  height: fit-content;
  background: whitesmoke;
  border-radius: 30px;
}

.myInfoPopupCloseButton {
  display: block;
  margin-left: 100%;
  margin-right: 0;
  margin-top: -20px;
  width: 35px;
  height: 35px;
  font-size: 2.5vh;
  border-style: none;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #c62128 0%, #a00000 74%);
  text-align: center;
  color: whitesmoke;
}

.myInfoPopupEmail {
  margin-top: 20px;
}

.myInfoPopupEmail > a {
  text-decoration: none;
  color: black;
}

.noBankListBodyArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noBankListContentArea {
  width: 90%;
  text-align: center;
  font-size: 2.5vh;
}
